@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --ff-title: 'Poppins', 'Rubik', Verdana;
    --ff-general: 'Figtree', 'Atkinson Hyperlegible', system-ui;

    --fs-100: clamp(0.4375rem, 1.088vw + 0.22rem, 0.9rem);
    --fs-200: clamp(0.5rem, 1.176vw + 0.265rem, 1rem);
    --fs-300: clamp(0.5625rem, 1.324vw + 0.298rem, 1.125rem);
    --fs-400: clamp(0.64rem, 1.435vw + 0.353rem, 1.25rem);
    --fs-500: clamp(0.8rem, 1.941vw + 0.412rem, 1.625rem);
    --fs-600: clamp(0.864rem, 2.085vw + 0.447rem, 1.75rem);

    --fs-900: clamp(1.15rem, 2vw + 0.75rem, 2rem);

    --fs-title: clamp(1.5rem, 7.5vw, 4.6875rem);
    --fs-big-title: clamp(2rem, 10vw, 6.25rem);


    --white-500: #F8F9FA;


    --grey-25: #8B8E90;
    --grey-50: #7D8184;
    --grey-100: #717579;
    --grey-200: #666A6F;
    --grey-300: #5B6166;
    --grey-400: #52585E;
    --grey-500: #495057;
    --grey-600: #43484D;
    --grey-700: #3D4144;
    --grey-800: #383A3D;
    --grey-900: #333436;
    --grey-1000: #2E2F31;
    --grey-1100: #2A2B2B;

    --dark-cyan-25: #EDF0F1;
    --dark-cyan-50: #DEEEF2;
    --dark-cyan-100: #C6FCFE; /* #BBCCD1;*/
    --dark-cyan-200: #ACF4FE; /* #A2BFC6;*/
    --dark-cyan-300: #86E2EF; /*#88B4BF;*/
    --dark-cyan-400: #68C6DD; /*#6DADBC;*/
    --dark-cyan-500: #4FA9BF;
    --dark-cyan-600: #2C8BAD; /* #4C95A7;*/
    --dark-cyan-700: #18708F; /* #4D818E;*/
    --dark-cyan-800: #024B64; /* #4B717A;*/
    --dark-cyan-900: #002B4C; /* #48636A;*/
    --dark-cyan-1000: #44575C;
    --dark-cyan-1100: #3F4D51;

    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --green-950: #052e16;

    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;

    --primary-25: var(--dark-cyan-25);
    --primary-50: var(--dark-cyan-50);
    --primary-100: var(--dark-cyan-100);
    --primary-200: var(--dark-cyan-200);
    --primary-300: var(--dark-cyan-300);
    --primary-400: var(--dark-cyan-400);
    --primary-500: var(--dark-cyan-500);
    --primary-600: var(--dark-cyan-600);
    --primary-700: var(--dark-cyan-700);
    --primary-800: var(--dark-cyan-800);
    --primary-900: var(--dark-cyan-900);
}


*,
*:before,
*:after {
    font-family: var(--ff-general), Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::selection {
    background: var(--primary-400);
    color: var(--white-500);
}

html {
    height: 100%;
}

body {
    background: #F1F3F5;
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--white-500);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    position: relative;
    z-index: 1;
}

header>* {
    margin-inline: var(--fs-900);
}

.logo {
    height: 80px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    font-family: var(--ff-general);
    font-size: var(--fs-300);
    font-weight: 500;
    color: var(--white-500);
    margin-top: 1rem;
}

footer>p {
    margin: 0.5rem 2rem;
}